div.sized {
  width: 25%;
  height: 150px;
  background-color: burlywood;
  border: solid 2px;
  border-color: blueviolet;
  text-align: center;
}

div.inner {
  width: 25%;
  height: 25%;
  margin: auto auto;
  background-color: brown
}

div.static {
  position: static;
}
div.relative {
  position: relative;
  left: 80px;
  top: 70px;
}
div.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.absolute {
  position: absolute;
  left: 80px;
  top: 70px;
}

div.bg {
  width: 100%;
  height: 1500px;
  background-color: cadetblue;
}